.menu__btn {
     position: relative;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     background-color: #272728;
     cursor: pointer;
     &:hover {
          .menu__btn-wrap {
               span {
                    transform: translateY(10px);
               }
          }
     }
     .menu__btn-wrap {
          overflow: hidden;
          position: relative;
          span {
               height: 2px;
               width: 18px;
               background: white;
               margin: 3px 0 !important;
               transition: 0.3s ease;
               // transform: translateY(4px);
               &:first-child {
                    &::before {
                         content: "";
                         position: absolute;
                         top: -8px;
                         left: 0;
                         width: 18px;
                         height: 2px;
                         background-color: white;
                    }
               }
          }
     }
}

.mobilebar {
     display: block;
}
.menu__btn-mobile {
     position: absolute;
     top: 30px;
     right: -10%;
     display: flex;
     display: none;
     span {
          width: 22px;
          height: 4px;
          background: white;
          margin: 2px 0 !important;
          border-radius: 5px;
          &:nth-child(1) {
               transform: translateY(8px) rotate(45deg);
          }
          &:nth-child(2) {
               animation: 1s closebtn2 ease forwards;
               animation-delay: 1s;
          }
          &:nth-child(3) {
               transform: translateY(-8px) rotate(-45deg);
          }
     }
}

@keyframes closebtn2 {
     0% {
          opacity: 1;
     }
     100% {
          opacity: 0;
     }
}
